{{#extend "page"}}
  {{#content "head"}}
    <link rel="stylesheet" href="./sign-in.css">
    <title>{{pages.sign-in}}</title>
  {{/content}}
{{#content "content"}}
    <section class="signin-card">
        <h1 class="signin-card__heading">Вход</h1>
        <form action="#" class="signin-form">
          {{> input/input hasLabel=true
                          type="text" 
                          name="login" 
                          label="Логин" 
                          placeholder="Введите имя пользователя"}}
          {{> input/input hasLabel=true
                          type="password" 
                          name="password" 
                          label="Пароль" 
                          placeholder="Введите пароль"}}
          {{> button/button text="Войти" type="submit" extraClass="signin-form__button"}}
          <a href="../sign-up/sign-up" class="signin-form__link">Зарегистрироваться</a>
        </form>
    </section>
{{/content}}
{{/extend}}