<button class="button
  {{#if kind}}
    button_{{kind}}
  {{/if}}
  {{#if small}}
    button_small
  {{/if}}
  {{#if extraClass}}
    {{extraClass}}
  {{/if}}"
  type="{{type}}">
  {{text}}
</button>
