@import "../../shared/variables.css";
@import './button-colors.css';

.button {
  background-color: var(--button-colour);
  border: 0;
  padding: var(--s-2) var(--s-3);
  box-shadow: 0 2px 0 var(--button-shadow-colour);
  position: relative;
  color: var(--button-text-colour);
  cursor: pointer;
  font-size: var(--text-regular);
  min-width: 12em;
}

.button:hover {
  background-color: var(--button-hover-colour);
}

.button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.button:active:not(:disabled) {
  top: 2px;
  outline: 3px solid var(--colour-focus);
}

.button:focus:not(:active, :hover) {
  color: var(--colour-focused);
  outline: 0 transparent;
  background-color: var(--colour-focus);
  box-shadow: 0 2px 0 0 var(--colour-focused);
  text-decoration: none;
}

.button_secondary {
  color: var(--text-colour);
  background-color: var(--colour-light-grey);
  box-shadow: 0 2px 0 var(--colour-dark-grey);
}

.button_secondary:hover {
  background-color: var(--secondary-button-hover-colour);
  outline: 0 transparent;
}

.button_warning {
  color: var(--warning-button-text-colour);
  background-color: var(--warning-button-colour);
  box-shadow: 0 2px 0 var(--warning-button-shadow-colour);
}

.button_warning:hover {
  background-color: var(--warning-button-hover-colour);
  outline: 0 transparent;
}

.button_small {
  width: 5em;
}
