@import "../../shared/variables.css";

.chatWrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.messagesColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messagesColumn__select-chat {
  margin-top: 45vh;
  align-self: center;
  color: var(--text-colour-secondary);
}
