{{#extend "page"}}
  {{#content "head"}}
    <link rel="stylesheet" href="./chat.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
  {{/content}}
  {{#content "content"}}
    <div class="chat-wrapper">
      <aside class="chatlist">
        <div class="controls-box">
          {{> button/button text="Профиль"
                            kind=constants.button_kind.secondary
                            extraClass="controls-box__button"}}
          {{> input/input placeholder="Поиск" extraClass="controls-box__input"}}
        </div>
        {{#each chat.chats as |chat|}}
          {{> chatlist-item/chatlist-item chat=chat}}
        {{/each}}
      </aside>
      <section class="messages-column">
        <p class="messages-column__select-chat">Выберите чат и отправьте сообщение</p>
        <form action="#" class="input-form">
          <button class="input-form__button">
            <i class="ph-paperclip input-form__icon"></i>
          </button>
          {{> input/input hasLabel=false
                          extraClass="input-form__input"
                          type=chat.input.type}}
          <button class="input-form__button">
            <i class="ph-paper-plane-right input-form__icon"></i>
          </button>
        </form>
      </section>
    </div>    
  {{/content}}
{{/extend}}