@import "../../../shared/variables.css";

.controlledInput__label {
  position: absolute;
  bottom: var(--s-8);
  font-size: 16px;
  color: var(--text-colour);
  margin-left: var(--s-2);
  padding-bottom: var(--s-1);
}

.controlledInput__label_error {
  color: var(--colour-error);
}
