@import '../../shared/variables.css';

.chatlist {
  width: 400px;
  min-width: 400px;
  background-color: var(--colour-white);
  overflow-x: scroll;
  scrollbar-width: none;
}

.controlsBox {
  padding: var(--s-3);
  display: flex;
  gap: var(--s-6);
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--colour-black);
  background-color: var(--colour-white);
}

.controlsBox__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controlsBox__addChatButton {
  font-size: 32px;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.controlsBox__addChatButton > i {
  pointer-events: none;
  vertical-align: middle;
}

.controlsBox__addChatButton:hover {
  color: var(--colour-dark-grey);
}
