@import '../../shared/variables.css';

.chatlist {
  width: 400px;
  min-width: 400px;
  background-color: var(--colour-white);
  overflow-x: scroll;
  scrollbar-width: none;
}

.controlsBox {
  padding: var(--s-3);
  display: flex;
  gap: var(--s-6);
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--colour-black);
  background-color: var(--colour-white);
}

.controlsBox__button {
  min-width: 10em;
  padding: var(--s-1) var(--s-9);
  align-self: end;
  flex-grow: 1;
}
