<aside class="chatlist">
  <div class="controls-box">
    {{> button/button text="Профиль"
                      kind=constants.button_kind.secondary
                      extraClass="controls-box__button"}}
    {{> input/input placeholder="Поиск"}}
  </div>
  {{#each chat.chats as |chat|}}
    {{> chatlist-item/chatlist-item meta=chat}}
  {{/each}}
</aside>
