{{#extend "page"}}
  {{#content "head"}}
    <link rel="stylesheet" href="./500.css">
  {{/content}}
  {{#content "content"}}
    <div class="error-page">
      <h1 class="error-page__code">500</h1>
      <h2 class="error-page__subheading">Ошибка на сервере</h2>
      <a href="../chat/chat.hbs">Назад к чатам</a>
    </div>
  {{/content}}
{{/extend}}