@import "../../shared/variables.css";

.signupCard {
  width: 697px;
  height: 740px;
  background-color: var(--colour-light-pink);
  border: 2px solid var(--colour-black);
  padding: var(--s-8) var(--s-6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signupCard__heading {
  margin-bottom: var(--s-9);
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: var(--s-5);
  justify-content: space-between;
  flex-grow: 1;
}

.signupForm__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--s-7);
}

.signupForm__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--s-5);
}

.signupForm__row > div {
  flex-basis: 300px;
}

.signupForm__button {
  margin-top: auto;
  align-self: center;
  width: 16em;
}

.signupForm__link {
  align-self: center;
}
