<form action="#" class="input-form">
  <button class="input-form__button">
    <i class="ph-paperclip input-form__icon"></i>
  </button>
  {{> input/input hasLabel=false
                  extraClass="input-form__input"
                  type=chatInputType }}
  <button class="input-form__button">
    <i class="ph-paper-plane-right input-form__icon"></i>
  </button>
</form>
