<form action="#" class="chat-input-form">
  <button class="chat-input-form__button">
    <i class="ph-paperclip chat-input-form__icon"></i>
  </button>
  {{> input/input hasLabel=false
                  extraClass="chat-input-form__input"
                  type=chatInputType }}
  <button class="chat-input-form__button">
    <i class="ph-paper-plane-right chat-input-form__icon"></i>
  </button>
</form>
