@import '../../shared/variables.css';

.chatInputboxForm {
  background-color: var(--colour-light-pink);
  padding: var(--s-2) var(--s-4);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--s-2);
}

.chatInputboxForm__input {
  flex-grow: 1;
  width: 100%;
}

.chatInputboxForm__button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

.chatInputboxForm__icon {
  position: relative;
  top: 2px;
  font-size: var(--s-6);
}
