@import "./variables.css";

a {
  color: var(--colour-blue);
}

a:visited {
  color: var(--colour-link-visited);
}

a:hover {
  color: var(--colour-link-hover);
  text-decoration-thickness: 2px;
  outline: 0 transparent;
}

a:focus {
  color: var(--colour-focused);
  outline: 0 transparent;
  background-color: var(--colour-focus);
  box-shadow: 0 3px 0 0 var(--colour-focused);
  text-decoration: none;
}
