.chatActions {
  position: relative;
  margin-left: auto;
}

.chatActions__triggerButton {
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.chatActions__triggerIcon {
  font-size: 32px;
  vertical-align: middle;
  pointer-events: none;
}

.chatActions__triggerIcon_open {
  rotate: 90deg;
}

.chatActions__popup {
  position: absolute;
  border: 2px solid var(--colour-black);
  background-color: var(--colour-white);
  padding: var(--s-2);
  top: var(--s-7);
  right: var(--s-2);
}

.chatActons__items {
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
}
