@import "../../shared/variables.css";

.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-6);
  width: 1440px;
  height: 100%;
  padding-left: var(--s-5);
  padding-right: var(--s-5);
  padding-top: var(--s-5);
}

.profilePage__close-button {
  align-self: flex-end;
  margin-bottom: var(--s-5);
}

.profilePage__save-button {
  align-self: center;
}

.profilePage__action-buttons {
  width: 640px;
  display: flex;
  justify-content: center;
  gap: var(--s-3);
}

.closeButton {
  border: unset;
  background-color: unset;
  cursor: pointer;
}

.closeButton__icon {
  font-size: 45px;
  color: var(--text-colour-secondary);
}

.closeButton__icon:hover {
  color: var(--colour-black);
}
