@import "../../shared/variables.css";

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-6);
  width: 1440px;
  height: 100%;
  padding: var(--s-8);
}

.profile-page__close-button {
  align-self: flex-end;
  margin-bottom: var(--s-7);
}

.profile-page__save-button {
  align-self: center;
}

.profile-page__action-buttons {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-3);
}

.close-button {
  border: unset;
  background-color: unset;
  cursor: pointer;
}

.close-button__icon {
  font-size: 45px;
  color: var(--text-colour-secondary);
}

.close-button__icon:hover {
  color: var(--colour-black);
}
