@import '../../shared/variables.css';

.chatPopupItem {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  min-width: max-content;
  gap: var(--s-2);
}

.chatPopupItem__icon {
  font-size: var(--s-6);
  margin-right: var(--s-2);
}
