@import "../../../shared/variables.css";

.controlledInput {
  border: 2px solid var(--colour-input-border);
  font-size: inherit;
  line-height: 23px;
  padding: var(--s-2) var(--s-2);
  min-width: 15em;
}

.controlledInput:disabled {
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid var(--colour-black);
  color: var(--text-colour-secondary);
  padding-right: var(--s-2);
}

.controlledInput:focus {
  outline: 3px solid var(--colour-focus);
  box-shadow: inset 0 0 0 2px;
}

.controlledInput_error {
  border: 2px solid var(--colour-error);
}

.controlledInput_error:focus {
  border: 2px solid var(--colour-black);
}

.controlledInput_small {
  width: 10em;
}
