@import "../../shared/variables.css";

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorPage__code {
  margin-bottom: var(--s-3);
}

.errorPage__subheading {
  margin-bottom: 120px;
}
