{{#extend "page"}}
  {{#content "head"}}
    <link rel="stylesheet" href="./404.css" />
  {{/content}}
  {{#content "content"}}
    <div class="error-page">
      <h1 class="error-page__code">400</h1>
      <h2 class="error-page__subheading">Не туда попали</h2>
      <a href="../chat/chat.hbs">Назад к чатам</a>
    </div>
  {{/content}}
{{/extend}}
