<picture class="avatar">
  <label class="avatar__overlay">
    <span class="avatar__label-text">
      {{inputLabel}}
    </span>
    <input class="avatar__input" type="file" name="{{inputName}}" />
  </label>
  <img src="{{imgUrl}}" alt="User avatar" class="avatar__image" />
</picture>
