---
routes:
  - 404
  - 500
  - chat
  - profile-page
  - sign-in
  - sign-up
---
{{#extend "page"}}
  {{#content "content"}}
    {{#each routes}}
      <a href="./pages/{{this}}/{{this}}.hbs">{{this}}</a>
    {{/each}}
  {{/content}}
{{/extend}}