<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./components/button/button.css">
  <title>Document</title>
</head>
<body>
  <div>Button from index</div>
  {{> button/button}}
  <div>Button from layout</div>
  {{#extend "chat-layout"}}
    {{#content "header"}}
      <header>I'm a replaced header</header>
    {{/content}}
  {{/extend}}
</body>
</html>