<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~src/shared/main.css">
  <link rel="stylesheet" href="~src/layouts/page.css">
  {{#block "head"}}{{/block}}
</head>
<body>
  <main class="page-content">
    {{#block "content"}}{{/block}}
  </main>
</body>
</html>