@import '../../shared/variables.css';

.fileInput {
  display: flex;
  flex-direction: column;
}

.fileInput__input {
  visibility: collapse;
  display: block;
}

.fileInput__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--text-regular);
  width: max-content;
  align-self: center;
}

.fileInput__selectedName {
  color: var(--colour-dark-grey);
  margin-bottom: var(--s-6);
  display: block;
  text-align: center;
}
