@import '../../shared/variables.css';

.chatlistItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 115px;
  padding: var(--s-3);
  gap: var(--s-3);
  border-top: 2px solid var(--colour-black);
}

.chatlistItem:nth-child(2) {
  border: none;
}

.chatlistItem:hover {
  background-color: color-mod(
    var(--colour-green) blend(var(--colour-white) 20%)
  );
}

.chatlistItem__midsection {
  width: 200px;
  padding-top: var(--s-2);
}

.chatlistItem__avatar {
  width: 90px;
  height: 90px;
  min-width: 90px;
  min-height: 90px;
  background-color: var(--colour-mid-grey);
  border-radius: 50%;
}

.chatlistItem__chat-name {
  font-size: var(--text-regular);
  font-weight: 400;
  color: var(--text-colour);
  margin-bottom: var(--s-2);
}

.chatlistItem__last-message {
  width: 100%;
  height: var(--s-8);
  font-size: var(--text-smaller);
  color: var(--text-colour-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatlistItem__metadata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.chatlistItem__time {
  font-size: var(--text-smaller);
  color: var(--colour-mid-grey);
}

.chatlistItem__badge {
  background-color: var(--colour-blue);
  width: var(--s-6);
  height: var(--s-6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatlistItem__unread {
  color: var(--colour-white);
  font-size: var(--text-smaller);
}
